In [6]:
import snowflake.connector

In [7]:
import json
from pathlib import Path


def connect():
    with open("credentials/account.json") as fp:
        account = json.load(fp)
    con = snowflake.connector.connect(
        user=account["user"],
        account=account["account"],
        password=account["password"],
        session_parameters={
            "QUERY_TAG": "EndOfMonthFinance",
        }
    )
    return con

In [17]:
from functools import cache
import pandas as pd


@cache
def query(sql: str) -> pd.DataFrame:
    with connect() as con:
        cur = con.cursor()
        ret = cur.execute(sql)
        return ret.fetch_pandas_all()  # type: ignore

In [18]:
query("select 1")

   1
0  1